/* CSS Document */
*{margin:0px;
padding: 0px
}
p{color: black}

#borderhead{
	width: 970;
	height: 50px;
	background-color: black;

	
}
body{text-align: center;
	width:auto;
	margin:0;
	
	
	color: black;
}



#menu{background-color:black;
	opacity: 0.8;
	width: 970px;
	height: 50px;
	position:fixed;
	
	
	
	}

#menu a{
	float:left;
	display:block;
	color: white;
	padding: 14px 16px;
	text-decoration:none;
	
		
}
#menu a:hover{background: rgba(40,186,208,1.00);
	border-radius: 10px;
	color: white;
	
}
#menu1{
	color: #FFF;
	width: 250px;
	height: 50px;
	float: left;
	padding: 9px 9px;
	text-align: center;
	text-shadow: 2px 2px 5px
}
#menu2{
	width: 450px;
	height: 50px;
	float: left;
	text-align: right;
	

}
#menu3{
	width: 200px;
	height: 50px;
	float: left;
	color: #FFF;
	text-align: center;
	margin-right: 0;
	text-indent: 35px;
	font-size: 12px
}
#hotline{background-color:red;
	opacity: 0.7;
	width: 150px;
	height: 60px;
	float: right;
	margin-right: 40px;
	border-radius: 15px;
	text-align: center;
	text-indent: 10px;
	}
#hotline a{
	text-indent: 20px
}

/* mainleft */

#mainP{
	width: 970;
	height: 1200px;
	
}
#mainP1{
	width: 530px;
	height: 450px;
	float: left;
	padding: 15px
}
#mainP2{
	width: 350px;
	height: 450px;
	float: left;
	padding: 15px
}
#mainP3{
	width: 960px;
	height: 600px;
	float: left;
	padding:  15px
}

#mainP3 p{
	text-align: left
}
#columnP{
	width: 2px;
	height: 480px;
	float: left;
	background-color: brown;
	
}
/* footer */
#footer{
	color: black;
	width: 970px;
	height: 200px;
	background-color:rgba(212,212,212,1.00);
	clear: both
}
li{
	color: black;
	text-indent: 15px;
	
	}

#footer a{
	text-indent: 15px;
	color: black;
	text-decoration: none
}
#footer hr{
	height: 1px;
	color: black;
	background-color: black
}
#footer1{
	float: left;
	width: 450px;
	height: 200px;
	padding: 10px;
	text-align: left
}

#footer2{
	float: left;
	width: 450px;
	height: 200px;
	padding: 10px;
	padding-left: 30px;
	text-align: left
	
}


.Bcart{
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	
	background-color: #E94133;
	
}


